.Image-Box{
    position: absolute;
    width: 360px;
    height: 250px;
    left: 15px;
    top: 250px;
    text-align: center;
    vertical-align: middle;
    
    
    background: #C8C8C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}


.image-frame{
position: absolute;
width: 360px;
height: 250px;
left: 15px;
top: 250px;



background: #C8C8C8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.buttonCreate1{
    margin-top: 60vh;
}

.buttonCreate2{
    margin-top: 20vh;
}

.buttonCreate3{
    margin-top: 20vh;
}

.buttonCreate4{
    margin-top: 20vh;
}

.text-one{
    margin-top: 1vh;
    margin-bottom: 5vh;
    text-align: center;
    font-size: 28px;
}


.icon-image{
    margin-top: 70px;
    text-align: center;
    color: #323232;
}



.createPages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.contentCreateFinish{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}

.createFininsh{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.mediImage{
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 250px;
    height: 223.68px;
}

#create{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    top: 720px;
    left: 0px;
    max-width: 100%;
    background-color: white;
    height: 100px;
    z-index: 99;
}

.AlterAbfragen{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 56.33px;
    left: 15px;
    top: 240px;

}

.alter1Eingabefeld{

    text-align: center;
    width: 40%;
    font-size: 24px;

    /* Mittel grau */

    border: 2px solid #787878;
    border-radius: 14px;

}

.alter2Eingabefeld{

    text-align: center;
    width: 40%;
    font-size: 24px;
    
    /* Mittel grau */
    
    border: 2px solid #787878;
    border-radius: 14px;

}


.kategorieEingabefeld{
    position: absolute;
    width: 360px;
    height: 56px;
    left: 15px;
    top: 569px;
}



.labelAlter{

    position: absolute;
    width: 59px;
    height: 30px;
    left: 15px;
    top: 180px;
    

    font-size: 20px;
    line-height: 30px;
    
    color: #000000;
}


.labelOrt{

    position: absolute;
width: 59px;
height: 30px;
left: 15px;
top: 250px;


font-size: 25px;
line-height: 30px;

color: #000000;
}


.labelAktiv{

    position: absolute;
    width: 103px;
    height: 30px;
    left: 15px;
    top: 500px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    
    color: #000000;
    
}

.InfoAbfrage{
    width: 360px;
    height: 200px;
    left: 15px;
    margin-top: 10px;
    top: 25vh;
}

.BeschreibungEingabefeld{
box-sizing: flex;

width: 100%;
height: 100%;

/* Mittel grau */

border: 2px solid #787878;
border-radius: 14px;
}

.TitelAbfragen{
    width: 360px;
    height: 56px;
    left: 15px;
    top: 25vh;


}

.ZeitEingabefeld{

    box-sizing: border-box;
    
    /* Mittel grau */
    
    border: 2px solid #787878;
    border-radius: 14px;
}

.BeschreibungEingabefeld{

    top: 0svh;
    text-align: top;

   top: 100px;
}

.ortAbfrage2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.toggle-switch2{
    color: green;
}

.toggle_drinnen{
    position: relative;
    margin-top: 2vh;
}

.toggle_draussen{
    position: relative;
    left: -90px;
    margin-top: 15px;
}

.buttondone{
    position: relative;
    top: 60vh;
}

.datetimepicker{
    width: 360px;
    height: 56px;
    padding-left: 10px;

    box-sizing: border-box;
    border: 2px solid #787878;
    border-radius: 14px;

    text-align: left;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    color: #787878;
}

.button-wrapper{
    height:50px;
    width: 100%;
}