.image-frame{
position: absolute;
width: 360px;
height: 250px;
left: 15px;
top: 250px;
text-align: center;
vertical-align: middle;


background: #C8C8C8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
}

.button{
    margin-top: 300px;

    bottom: 100px;
}

.text-one{
    margin-top: 100px;
    text-align: center;
}


.icon-image{
    margin-top: 70px;
    text-align: center;
    color: #323232;
}



.createPages{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.contentCreateFinish{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}

.createFininsh{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

.mediImage{
    display: flex;
    align-items: center;
    justify-content: center;
    

    width: 250px;
    height: 223.68px;
}

#create{
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    top: 720px;
    left: 0px;
    max-width: 100%;
    background-color: white;
    height: 100px;
    z-index: 99;
}