.button-dick{
    position: absolute;
    width: 200px;
    height: 60px;

    background: #045B86;
    border-radius: 50px;
    border: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    }

.button-duenn{
    position: absolute;
    width: 217px;
    height: 45px;

    border-radius: 50px;
    background: #045B86;

    border: 0px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}

.button-dick:disabled {
    background: #C8C8C8;
}

.button-duenn:disabled {
    background: #C8C8C8;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}