.navbar{
    display: flex;
    flex-direction: column;
    position: sticky;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    top: 0px;
    z-index: 99;
}


.topbar{
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 390px;
    height: 65px;
    left: 0px;
    top: 0px;
}

.languagemenu{
    background-color: white;
    padding-bottom: 10px;
    
}
.icon--button{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-width: 32px;
    color: black;
    text-decoration: none;
}

.icon--button:active{
    text-decoration: none;
    color: #00C192;
}

.navbar--logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cardInspectNavbar{
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
}

.navbar-player{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
}

#startPageOne{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    gap:11px;
    width: 390px;
    height: 65px;
    left: 0px;
    top: 0px;
}