.startPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pageOne {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    text-align: center;
    top: 475px;
    color: #000000; 
}

.startpageThree {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 400px;
    color: #000000; 
}

.standortAbfrage{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    top: 100px;
    height: 277px;
}

.buttons--wrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 670px;
    gap: 90px;
}

.buttonStart{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    top: 200px;
}

.playerOne{
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 40%;
}
